version_sympa.json
[
    {
        "id": "735ce522855463f2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d430b7f786c3430c",
        "type": "ui_form",
        "z": "735ce522855463f2",
        "name": "",
        "label": "Recherche de salle",
        "group": "79d922bc751f5f97",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "capacité",
                "value": "cap",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "durée",
                "value": "dur",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "tableau blanc",
                "value": "tabb",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "tableau noir",
                "value": "tabn",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "vidéoprojecteur",
                "value": "videop",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "télévision",
                "value": "tele",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "cap": "",
            "dur": "",
            "tabb": false,
            "tabn": false,
            "videop": false,
            "tele": false
        },
        "payload": "",
        "submit": "rechercher",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "676d5655542df1d3",
                "98bbb686b59ef7f8"
            ]
        ]
    },
    {
        "id": "e3774ca61f8a5c91",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "",
        "group": "647052b61f3de1c7",
        "order": 9,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "Chercher une salle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "3e559b26333add73"
            ]
        ]
    },
    {
        "id": "3e559b26333add73",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 360,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "51aec549663874f4",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 560,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "27a0b7e669e1c1e0",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "retour accueil",
        "group": "94b8bf3298c668c4",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "undo",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1180,
        "wires": [
            [
                "51aec549663874f4"
            ]
        ]
    },
    {
        "id": "fd5c9502351eb67a",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "retour accueil",
        "group": "0cc5b1248ffc1a26",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "retour accueil",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "5be158a8704a8c1d"
            ]
        ]
    },
    {
        "id": "5be158a8704a8c1d",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 1080,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "f720609b65218d0b",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1300,
        "wires": []
    },
    {
        "id": "676d5655542df1d3",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1220,
        "wires": [
            [
                "51aec549663874f4"
            ]
        ]
    },
    {
        "id": "b214fe9a5ceae911",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "",
        "group": "a1fce82c8d27218b",
        "order": 1,
        "width": 14,
        "height": 8,
        "passthru": false,
        "label": "V106",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.topic}}",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "e189dc6a2871e8b2"
            ]
        ]
    },
    {
        "id": "e189dc6a2871e8b2",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 1240,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d7a2140274d2918e",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "Récupérer salle/fun",
        "group": "647052b61f3de1c7",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 260,
        "wires": [
            [
                "1e2204a357153bd5"
            ]
        ]
    },
    {
        "id": "269cb5fb583a86ec",
        "type": "websocket out",
        "z": "735ce522855463f2",
        "name": "",
        "server": "e95ac9c8f97d8aa3",
        "client": "",
        "x": 600,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f37f40653c9b481e",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "Demande de salle",
        "info": "websocket pour envoyer les critères de choix de salle + changement statut salle et pour quelle durée\n",
        "x": 130,
        "y": 1180,
        "wires": []
    },
    {
        "id": "da308640244b2435",
        "type": "websocket in",
        "z": "735ce522855463f2",
        "name": "réception d'info",
        "server": "e95ac9c8f97d8aa3",
        "client": "",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "bb8763b9f98b42fb"
            ]
        ]
    },
    {
        "id": "98bbb686b59ef7f8",
        "type": "function",
        "z": "735ce522855463f2",
        "name": "id salle",
        "func": "msg.payload[\"id\"] = \"V106A\";\nmsg.payload[\"requête\"] = \"recherche de salle\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "269cb5fb583a86ec",
                "f720609b65218d0b"
            ]
        ]
    },
    {
        "id": "ca64a9095cd941fd",
        "type": "websocket out",
        "z": "735ce522855463f2",
        "name": "",
        "server": "e95ac9c8f97d8aa3",
        "client": "",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "ab20cd05002a73f0",
        "type": "inject",
        "z": "735ce522855463f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"requête\": \"id\", \"id\": \"V106A\"}",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "ca64a9095cd941fd",
                "d00b08f05a3e957b"
            ]
        ]
    },
    {
        "id": "5d2d80f29d47658e",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "Identification",
        "info": "Envoie le nom de la salle au serveur tous les matins à 8h",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "fe965f8ce9362269",
        "type": "ui_form",
        "z": "735ce522855463f2",
        "name": "squatter",
        "label": "Temps d'occupation de la salle",
        "group": "0124f391714d0602",
        "order": 1,
        "width": 6,
        "height": 4,
        "options": [
            {
                "label": "format hh:mm",
                "value": "durée",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "durée": ""
        },
        "payload": "",
        "submit": "prendre la salle",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 900,
        "y": 740,
        "wires": [
            [
                "51acaee0b4720afb",
                "8979f8c6a22c670d",
                "d0d4e68128df2c89",
                "660b636d894cceda",
                "baa7817ae828b8b2",
                "9bf9b49b4b06fcdf"
            ]
        ]
    },
    {
        "id": "51acaee0b4720afb",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 760,
        "wires": [
            [
                "dde8b7c512cca726"
            ]
        ]
    },
    {
        "id": "dde8b7c512cca726",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 1260,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "fbd8182f524788b9",
        "type": "ui_text",
        "z": "735ce522855463f2",
        "group": "0cc5b1248ffc1a26",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Salle proposée :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1560,
        "y": 1200,
        "wires": []
    },
    {
        "id": "67d043d1d9bbe61c",
        "type": "switch",
        "z": "735ce522855463f2",
        "name": "disjonction libre/réservée",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "libre",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "réservée",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "e15f5a366de67162",
                "c823dd4dc5245976",
                "b1654e2713793a36",
                "572424765f6ac5e1"
            ],
            [
                "baa7817ae828b8b2",
                "a1527557f313184c",
                "bb4888a504f8b4a2",
                "1945dc96924bb223"
            ]
        ]
    },
    {
        "id": "660b636d894cceda",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "bouton orange",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "orange",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "b214fe9a5ceae911"
            ]
        ]
    },
    {
        "id": "c823dd4dc5245976",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "bouton vert",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 380,
        "wires": [
            [
                "b214fe9a5ceae911"
            ]
        ]
    },
    {
        "id": "e15f5a366de67162",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "bouton récupérer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Récupérer la salle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Récupérer la salle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 300,
        "wires": [
            [
                "d7a2140274d2918e"
            ]
        ]
    },
    {
        "id": "baa7817ae828b8b2",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "bouton fun",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Surprise",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Surprise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 260,
        "wires": [
            [
                "d7a2140274d2918e"
            ]
        ]
    },
    {
        "id": "7b0ac46e9f441a7b",
        "type": "ui_text",
        "z": "735ce522855463f2",
        "group": "647052b61f3de1c7",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Statut",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "d0d4e68128df2c89",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "occupée",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Occupée",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 460,
        "wires": [
            [
                "7b0ac46e9f441a7b"
            ]
        ]
    },
    {
        "id": "b1654e2713793a36",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "libre",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Libre",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "7b0ac46e9f441a7b"
            ]
        ]
    },
    {
        "id": "2e323e3df307bc04",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "retour ecran de base",
        "group": "647052b61f3de1c7",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "undo",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "573acbde0a222923"
            ]
        ]
    },
    {
        "id": "573acbde0a222923",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 300,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4b4fb36f04343e0f",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "retour accueil",
        "group": "621e648c1a918dbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "undo",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 920,
        "y": 800,
        "wires": [
            [
                "1df7908081b22e86"
            ]
        ]
    },
    {
        "id": "1df7908081b22e86",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 1100,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "bb8763b9f98b42fb",
        "type": "json",
        "z": "735ce522855463f2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 760,
        "wires": [
            [
                "d89b0b0a75218435",
                "1f670dec3ed95f68"
            ]
        ]
    },
    {
        "id": "d89b0b0a75218435",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 800,
        "wires": []
    },
    {
        "id": "8979f8c6a22c670d",
        "type": "function",
        "z": "735ce522855463f2",
        "name": "envoi prise de salle",
        "func": "var decomp = msg.payload[\"durée\"].split(\":\",2);\nvar temps = parseInt(decomp[0])*60+parseInt(decomp[1]);\nmsg.payload[\"requête\"] = \"prise de salle\";\nmsg.payload[\"id\"] = \"V106A\";\nmsg.payload[\"durée\"] = temps;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 720,
        "wires": [
            [
                "11c9637b09a80f34",
                "848fb6b79aaf456c"
            ]
        ]
    },
    {
        "id": "11c9637b09a80f34",
        "type": "websocket out",
        "z": "735ce522855463f2",
        "name": "",
        "server": "e95ac9c8f97d8aa3",
        "client": "",
        "x": 1400,
        "y": 720,
        "wires": []
    },
    {
        "id": "611499bc177c8c22",
        "type": "file in",
        "z": "735ce522855463f2",
        "name": "simulation capteurs",
        "filename": "C:\\\\Users\\\\Lucie\\\\Desktop\\\\mines_\\\\2A\\\\IDS\\\\projet_oasis\\\\simu_capteurs.txt",
        "filenameType": "str",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "74d54b75be207696",
                "ac9ee1098462bdc3"
            ]
        ]
    },
    {
        "id": "33b8db9c1a51aa60",
        "type": "inject",
        "z": "735ce522855463f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1000,
        "wires": [
            [
                "611499bc177c8c22"
            ]
        ]
    },
    {
        "id": "adae5fb55d31f1f7",
        "type": "ui_gauge",
        "z": "735ce522855463f2",
        "name": "",
        "group": "647052b61f3de1c7",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Température",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f558509fccf22068",
        "type": "ui_gauge",
        "z": "735ce522855463f2",
        "name": "",
        "group": "647052b61f3de1c7",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 1080,
        "wires": []
    },
    {
        "id": "756a72ea2f3f0ca2",
        "type": "ui_gauge",
        "z": "735ce522855463f2",
        "name": "",
        "group": "647052b61f3de1c7",
        "order": 7,
        "width": 5,
        "height": 2,
        "gtype": "gage",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "300",
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1200",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "74d54b75be207696",
        "type": "function",
        "z": "735ce522855463f2",
        "name": "lecture données capteurs",
        "func": "var output = [null, null, null];\nvar values = msg.payload.split(\",\",3);\noutput[0] = { payload: values[0] };\noutput[1] = { payload: values[1] };\noutput[2] = { payload: values[2] };\nreturn output;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1060,
        "wires": [
            [
                "adae5fb55d31f1f7",
                "cd989a69fb6004ed"
            ],
            [
                "f558509fccf22068"
            ],
            [
                "756a72ea2f3f0ca2"
            ]
        ]
    },
    {
        "id": "cd989a69fb6004ed",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ac9ee1098462bdc3",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1000,
        "wires": []
    },
    {
        "id": "99e78b779a6455d2",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "Emploi du temps",
        "info": "",
        "x": 100,
        "y": 720,
        "wires": []
    },
    {
        "id": "f45c76f1f1dd0d35",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "Page de salles dispo",
        "info": "",
        "x": 930,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2122b9a51b8b47c4",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "page récupération de salle",
        "info": "",
        "x": 1130,
        "y": 660,
        "wires": []
    },
    {
        "id": "05ac4901beafce1a",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "Affichage infos capteurs",
        "info": "",
        "x": 140,
        "y": 960,
        "wires": []
    },
    {
        "id": "02ac2fdc628cf7cf",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "consigne",
        "info": "si on reçoit une chaîne de caractère vide comme réponse, c'est qu'aucune salle n'est dispo",
        "x": 1140,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a248aae892aacb1c",
        "type": "websocket in",
        "z": "735ce522855463f2",
        "name": "",
        "server": "e95ac9c8f97d8aa3",
        "client": "",
        "x": 970,
        "y": 1200,
        "wires": [
            [
                "3055c027a168dac6"
            ]
        ]
    },
    {
        "id": "3055c027a168dac6",
        "type": "json",
        "z": "735ce522855463f2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1190,
        "y": 1200,
        "wires": [
            [
                "1d78288cdbabc596"
            ]
        ]
    },
    {
        "id": "1d78288cdbabc596",
        "type": "function",
        "z": "735ce522855463f2",
        "name": "salle attribuée",
        "func": "if(msg.payload[\"requête\"]==\"salle\"){\n    var room = msg.payload[\"id\"];\n    if (room){\n        msg.payload = room;\n        return msg;\n    }\n    else{\n        msg.payload = \"Aucune salle de ce type n'est disponible\";\n        return msg;\n    }\n}\nelse{\n    msg.payload = \"Aucune salle de ce type n'est disponible\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1200,
        "wires": [
            [
                "eea2d37f4a5d4427",
                "fbd8182f524788b9"
            ]
        ]
    },
    {
        "id": "848fb6b79aaf456c",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 680,
        "wires": []
    },
    {
        "id": "86d8411a31765181",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "Changer couleur en fonction réservation",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "a1527557f313184c",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "bouton rouge",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 420,
        "wires": [
            [
                "b214fe9a5ceae911"
            ]
        ]
    },
    {
        "id": "bb4888a504f8b4a2",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "réservée",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Réservée",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 540,
        "wires": [
            [
                "7b0ac46e9f441a7b"
            ]
        ]
    },
    {
        "id": "caf605b958c6aca5",
        "type": "delay",
        "z": "735ce522855463f2",
        "name": "delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "b1654e2713793a36",
                "c823dd4dc5245976",
                "e15f5a366de67162",
                "0504c804c76650c6"
            ]
        ]
    },
    {
        "id": "9bf9b49b4b06fcdf",
        "type": "function",
        "z": "735ce522855463f2",
        "name": "temps d'occupation",
        "func": "var decomp = msg.payload[\"durée\"].split(\":\", 2);\nmsg.delay = (parseInt(decomp[0]) * 60 + parseInt(decomp[1]))*1000*60;\nglobal.set(\"Etat\", 1); //1 means occupied\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 660,
        "wires": [
            [
                "caf605b958c6aca5",
                "d83584cd6133b456",
                "4edb71266316446a"
            ]
        ]
    },
    {
        "id": "4f3857bca0b9b4f1",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "Afficher si réservée",
        "info": "idée : convertir les heures de début et de fin \nen timestamp\npour pouvoir comparer avec le timestamps de nao\n--> va falloir un inject timestamp assez fréquemment\n",
        "x": 210,
        "y": 600,
        "wires": []
    },
    {
        "id": "cea588474b71ea35",
        "type": "function",
        "z": "735ce522855463f2",
        "name": "bascule statut libre/réservée",
        "func": "var n = msg.payload.length;\n\nvar events = [];\nvar deb0 = 0;\nvar deb = 0;\nvar fin0 = 0;\nvar fin = 0;\n\n//liste des débuts et fin d'événements en secondes\nfor (let i = 0; i < n; i++) {\n    deb0 = msg.payload[i][\"debut\"].split(\":\");\n    deb = parseInt(deb0[0])*3600 + parseInt(deb0[1])*60;\n    fin0 = msg.payload[i][\"fin\"].split(\":\");\n    fin = parseInt(fin0[0]) * 3600 + parseInt(fin0[1]) * 60;\n    events.push([deb, fin]);\n};\n\n//calcul de l'instant présent en secondes\nvar d = new Date().toString().split(\" \")[4];\nvar time = d.split(\":\");\nvar instant = parseInt(time[0])*3600 \n    + parseInt(time[1])*60 \n    + parseInt(time[2]);\n\n//on regarde si la salle est réservée et on affiche en fonction\nfor (let i = 0; i<n; i++) {\n    if (instant < events[i][1]) {\n        if (instant > events[i][0]) {\n            msg.payload = \"réservée\";\n            return msg;\n        }\n        else {\n            if (global.payload == \"libre\"){\n                msg.payload = \"libre\";\n                return msg;\n            }\n\n        }\n    }\n};\n\n//si on a dépassé le dernier créneau réservé\nif (global.payload == \"libre\"){\n    msg.payload = \"libre\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 640,
        "wires": [
            [
                "72b066f741ccfe86",
                "67d043d1d9bbe61c"
            ]
        ]
    },
    {
        "id": "72b066f741ccfe86",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 680,
        "wires": []
    },
    {
        "id": "88f9738d42974555",
        "type": "inject",
        "z": "735ce522855463f2",
        "name": "",
        "props": [
            {
                "p": "repet",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e53d09cfc7a87c7d",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 800,
        "wires": []
    },
    {
        "id": "1f670dec3ed95f68",
        "type": "function",
        "z": "735ce522855463f2",
        "name": "emploi du temps",
        "func": "var n = msg.payload[\"réservations\"].length;\n\nvar reservation=[];\nfor (let i = 0; i<n; i++){\n    reservation.push({\n        \"debut\" : msg.payload[\"réservations\"][i][\"from_\"],\n        \"fin\": msg.payload[\"réservations\"][i][\"to\"],\n        \"event\": msg.payload[\"réservations\"][i][\"title\"]\n    });\n};\nmsg.payload = reservation;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 760,
        "wires": [
            [
                "62ac0c3172bbac95",
                "e53d09cfc7a87c7d",
                "cea588474b71ea35"
            ]
        ]
    },
    {
        "id": "62ac0c3172bbac95",
        "type": "ui_table",
        "z": "735ce522855463f2",
        "group": "647052b61f3de1c7",
        "name": "",
        "order": 6,
        "width": 6,
        "height": 4,
        "columns": [
            {
                "field": "debut",
                "title": "Début",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fin",
                "title": "Fin",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "event",
                "title": "Evénement",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "de9cb072c3c7b62d",
        "type": "comment",
        "z": "735ce522855463f2",
        "name": "page surprise",
        "info": "",
        "x": 970,
        "y": 920,
        "wires": []
    },
    {
        "id": "5d74e298187b34ce",
        "type": "ui_text",
        "z": "735ce522855463f2",
        "group": "83a7753a86b1e439",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "petit texte mignon",
        "label": "La salle n'est pas libre, mais voici un petit soleil pour illuminer votre journée",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 970,
        "y": 960,
        "wires": []
    },
    {
        "id": "a74b3990cc23b3b4",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 1140,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "22f89f6ab05c3b1a",
        "type": "ui_button",
        "z": "735ce522855463f2",
        "name": "soleil",
        "group": "83a7753a86b1e439",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "wi-wu-sunny",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 1000,
        "wires": [
            [
                "a74b3990cc23b3b4"
            ]
        ]
    },
    {
        "id": "d83584cd6133b456",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "global to \"occupee\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "occupee",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "0504c804c76650c6",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "global to \"libre\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "libre",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "572424765f6ac5e1",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "global to \"libre\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "libre",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1945dc96924bb223",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "global to \"reservee\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "reservee",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d00b08f05a3e957b",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "9d3f9233edd18f2c",
        "type": "inject",
        "z": "735ce522855463f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "payload",
        "payloadType": "global",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "a45529d1e0841331"
            ]
        ]
    },
    {
        "id": "a45529d1e0841331",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "1e2204a357153bd5",
        "type": "switch",
        "z": "735ce522855463f2",
        "name": "",
        "property": "payload",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "libre",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1350,
        "y": 260,
        "wires": [
            [
                "4f79fe835afbed51"
            ],
            [
                "29eb9a70439086f1"
            ]
        ]
    },
    {
        "id": "4f79fe835afbed51",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 240,
        "wires": [
            [
                "d72544c34eb22042"
            ]
        ]
    },
    {
        "id": "29eb9a70439086f1",
        "type": "change",
        "z": "735ce522855463f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 280,
        "wires": [
            [
                "96e9a8668eb6afe8"
            ]
        ]
    },
    {
        "id": "eea2d37f4a5d4427",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d72544c34eb22042",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 1680,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "96e9a8668eb6afe8",
        "type": "ui_ui_control",
        "z": "735ce522855463f2",
        "name": "",
        "events": "all",
        "x": 1680,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4edb71266316446a",
        "type": "debug",
        "z": "735ce522855463f2",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "9ba367e3f161e7a2",
        "type": "inject",
        "z": "735ce522855463f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "libre",
        "payloadType": "str",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "67d043d1d9bbe61c"
            ]
        ]
    },
    {
        "id": "8d2174b5f6c5e041",
        "type": "switch",
        "z": "735ce522855463f2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "8a80da0137f938a7",
        "type": "inject",
        "z": "735ce522855463f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1260,
        "y": 1280,
        "wires": [
            [
                "1d78288cdbabc596"
            ]
        ]
    },
    {
        "id": "4e249c3f329cd5f7",
        "type": "ui_spacer",
        "z": "735ce522855463f2",
        "name": "spacer",
        "group": "647052b61f3de1c7",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "42df7fdfe9da49c7",
        "type": "ui_spacer",
        "z": "735ce522855463f2",
        "name": "spacer",
        "group": "647052b61f3de1c7",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "79d922bc751f5f97",
        "type": "ui_group",
        "name": "Demande changement",
        "tab": "91b5babfa149cd08",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "647052b61f3de1c7",
        "type": "ui_group",
        "name": "Infos capteurs",
        "tab": "b46b74d67a90741c",
        "order": 1,
        "disp": false,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94b8bf3298c668c4",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "91b5babfa149cd08",
        "order": 2,
        "disp": false,
        "width": 1,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cc5b1248ffc1a26",
        "type": "ui_group",
        "name": "Proposition de salle",
        "tab": "a221552930368cb8",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1fce82c8d27218b",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "50cb975ddfab61f7",
        "order": 1,
        "disp": false,
        "width": 14,
        "collapse": false,
        "className": "",
        "info": "<div style=\"width: 100%; height: 100%; background-color: green;\">\r\n    <div class=\"content\">\r\n        <span>{{(msg.payload)}}</span>\r\n    </div>\r\n</div>"
    },
    {
        "id": "e95ac9c8f97d8aa3",
        "type": "websocket-listener",
        "path": "ws://172.16.16.180:3080/ws",
        "wholemsg": "false"
    },
    {
        "id": "0124f391714d0602",
        "type": "ui_group",
        "name": "durée",
        "tab": "ef6fd4d010a596c9",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "621e648c1a918dbf",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "ef6fd4d010a596c9",
        "order": 2,
        "disp": false,
        "width": "1",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83a7753a86b1e439",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "624f1ca989a67da8",
        "order": 1,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "91b5babfa149cd08",
        "type": "ui_tab",
        "name": "Recherche de salle",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b46b74d67a90741c",
        "type": "ui_tab",
        "name": "Accueil",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "a221552930368cb8",
        "type": "ui_tab",
        "name": "Résultat de recherche",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "50cb975ddfab61f7",
        "type": "ui_tab",
        "name": "Etat salle",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "ef6fd4d010a596c9",
        "type": "ui_tab",
        "name": "Occuper la salle",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "624f1ca989a67da8",
        "type": "ui_tab",
        "name": "Surprise",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]